/* Animação do Texto Marquee da Barra do Topo */
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 25s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* Scrollbar Personalizada com Tons Escuros */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F5F2EC;
}

::-webkit-scrollbar-thumb {
  background: #E7E2D8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}